
<div class="b-example-divider"></div>

<header class="p-3 text-bg-dark position-sticky top-0 ">
  <div class="container-fluid ">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white" [routerLink]="['/add-book']">Add Book</a></li>
        <li><a href="#" class="nav-link px-2 text-white" [routerLink]="['/view-all-books']">View All Books</a></li>
        <li><a href="#" class="nav-link px-2 text-white" [routerLink]="['/view-all-transactions']">View All Transactions</a></li>
        <li><a href="#" class="nav-link px-2 text-white"[routerLink]="['/view-all-users']">View All Users</a></li>
        <li><a href="#" class="nav-link px-2 text-white" [routerLink]="['/borrow-book']">Borrow Book</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" (click)="signOut();">Log Out</button>
        <button type="button" class="btn btn-warning" [routerLink]="['/sign-up']">Sign-up</button>
      </div>
    </div>
  </div>
</header>

<div class="b-example-divider"></div>
