
<app-navbar></app-navbar>

<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
  
              <form class="px-md-2">
  
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="form3Example1q" class="form-control" [(ngModel)]="bookObj.isbn" [ngModelOptions]="{standalone:true}" />
                  <label class="form-label" for="form3Example1q">ISBN</label>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div data-mdb-input-init class="form-outline datepicker">
                      <input type="text" class="form-control" id="exampleDatepicker1" [(ngModel)]="bookObj.title" [ngModelOptions]="{standalone:true}" />
                      <label for="exampleDatepicker1" class="form-label">Book Title</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div data-mdb-input-init class="form-outline datepicker">
                      <input type="text" class="form-control" id="exampleDatepicker1" [(ngModel)]="bookObj.author" [ngModelOptions]="{standalone:true}" />
                      <label for="exampleDatepicker1" class="form-label">Author</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="mb-4">
  
                  <div data-mdb-input-init class="form-outline datepicker">
                    <input type="text" class="form-control" id="exampleDatepicker1" [(ngModel)]="bookObj.category" [ngModelOptions]="{standalone:true}" />
                    <label for="exampleDatepicker1" class="form-label">Category</label>
                  </div>
  
                </div>
  
                <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                  <div class="col-md-6">
  
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="form3Example1w" class="form-control" [(ngModel)]="bookObj.quantity" [ngModelOptions]="{standalone:true}" />
                      <label class="form-label" for="form3Example1w">Quantity</label>
                    </div>
  
                  </div>
                </div>
  
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg mb-1" (click)="addBook();">Submit</button>
                
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>